src/main/resources/org/tastefuljava/jedo/conf/jedo-conf.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT configuration (data-source,mapping+)>

<!ELEMENT data-source (property*)>

<!ELEMENT property EMPTY>
<!ATTLIST property
    name CDATA #REQUIRED
    value CDATA #IMPLIED
>

<!ELEMENT mapping EMPTY>
<!-- one of the attributes is required -->
<!ATTLIST mapping
    resource CDATA #IMPLIED
    file CDATA #IMPLIED
    url CDATA #IMPLIED
>
